* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/background.jpg);
    background-size: 100%;
    background-position: center;
    padding: 10px 8%;
    position: relative;

}

nav {
    padding: 10px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 150px;
    cursor: pointer;
    display: block; 
}

nav button {
    border: 0;
    outline: 0;
    background: red;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 10px;
    padding: 7px 20px;
    cursor: pointer;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /* margin-top: 100px; */
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    width: 650px;
}

.header-content h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    width: 600px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.header-content p {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
}

.email-signup {
    background: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 0;
    margin-left: 20px;
    outline: 0;
}

.email-signup button {
    background: red;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 17px 30px;
}

/*--features----*/

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
    font-size: larger;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 50%;
    margin: auto;
    width: 500px;
    height: 400px;
}
.feautures h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    
}

.features p {
    margin-top: 20px;
}

/* faq */
.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 600;
    font-size: 40px;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s, padding 0.5s;

}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq .email-signup {
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small {
    font-size: 13px;
}

.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer .first-link {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 5px;
    color: #777;
    text-decoration: none;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    /* padding: 10px 0; */
}

.copyright {
    font-size: 14px;
    margin-top: -40px;
    margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
    .header {
        padding: 10px 3%;
    }

    .logo {
        width: 100px;
    }

    .header-content {
        width: 100%;   
        padding: 0 2.5%;
    }

    .header-content h1,
    .header-content h3 {
        width: initial;
        line-height: initial;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .header-content h3 {
        font-size: 20px;
    }

    .email-signup input {
        padding-right: 15px;
    }

    .email-signup button {
        padding: 17px 11px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .features {
        padding: 25px 2.5%;
    }

    .text-col,
    .img-col {
        flex-basis: 100%;
    }

    .text-col h2 {
        font-size: 30px;
    }

    .text-col p {
        font-size: 16px;
    }

    .img-col img {
        width: 100%;
        height: auto;
    }

    .faq,
    .footer {
        padding: 10px 2.5%;
    }

    .accordion li label {
        font-size: 14px;
    }

    .footer {
        border-top: 0;
    }
} 